.sidebar {
  width: 250px;
  height: 100%;
  flex-shrink: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  padding: 25px 25px 0 0;

  &__btn {
    margin-bottom: 30px;
  }
  &__filters {
    &-item {
      display: flex;
      align-items: center;
      gap: 5px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
