.field {
  &__item {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 12px;
  }
  &__caption {
    display: block;
    margin-bottom: 5px;
  }
  &__error {
    display: block;
    color: red;
    padding-top: 5px;
  }
}
